.app-install-section__wrapper {
  display: flex;
  min-height: 620px;
  position: relative;
  align-items: center;

  @include tablet {
    flex-direction: column;
    justify-content: end;
    padding-top: 94%;
    padding-bottom: 192px;
  }

  @include mobile {
    padding-top: 190px;
    gap: 83px
  }
}

.app-install-section__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(@img/corgi-coconut.png);
  background-repeat: no-repeat;
  background-position: top right -17px;
  background-size: 79% auto;
  z-index: -1;

  @include retina {
    background-image: url(@img/corgi-coconut@2x.png);
  }

  @include tablet {
    order: -1;
    width: 133%;
    background-position: top right 39px;
    background-size: contain;
  }

  @include mobile {
    position: static;
    min-height: 293px;
    background-position: top right -11px;
    background-size: cover;
  }
}

.app-install-content {
  flex-basis: 45%;
}

.app-install-section__title {
  color: $white;
  margin: 0;
  padding-bottom: 43px;
}

