.chatgpt {
  min-width: 360px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  padding: 35px 0 8px;
  border-radius: 39px;
  color: #242732;
  height: 436px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;

  &__intro-text {
    font-family: "Muller", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
    margin-top: 24px;
  }

  &__logo {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EFEFEF;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__logo-icon {
    background: url('@img/icons/icons.svg#chatgpt-logo');
    width: 32px;
    height: 32px;
  }

  &__content {
    flex-grow: 2;
    overflow: auto;
    padding: 20px 8px;
    height: 352px;
    &:has(.chatgpt__intro) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__message {
    margin-bottom: 32px;

    &_chat {
      .chatgpt__message-inner {
        padding-left: 16px;
      }
    }

    &_user {
      text-align: right;
      .chatgpt__message-inner {
        max-width: 80%;
        background: #DBE7FB;
        @include mobile {
          max-width: 100%;
        }
      }
      .chatgpt__message-text {
        text-align: left;
      }
      .chatgpt__avatar {
        display: none;
      }
    }
    &_chat {
      .chatgpt__message-inner {
        max-width: 100%;
      }

      .chatgpt__avatar {
        width: 56px;
        min-width: 56px;
        height: 56px;
        border: 2px solid #F0F0F0;
        border-radius: 50px;

        &::before {
          content: '';
          display: block;
          background: url('@img/icons/icons.svg#chatgpt-logo');
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &__message-inner {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    background: transparent;
    padding: 16px;
    max-width: 70%;
    border-radius: 11px;
  }

  &__message-text {
    flex-grow: 2;
    font-family: "Muller", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__footer {
    position: relative;
    padding: 0 8px;
  }

  &__btn {
    width: 52px;
    height: 52px;
    border-radius: 40px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background: #0158FF;
    display: flex;
    justify-content: center;
    align-items: center;

    path {
      fill: white;
    }

    &:hover {
      background: #6EA1F0;
    }
    &:active {
      background: #B7D0F7;
    }
    &:disabled {
      background: #B7D0F7;
      path {
        fill: #92B8F4;
      }
    }
  }

  &__input {
    width: 100%;
    height: 68px;
    border-radius: 120px;
    box-sizing: border-box;
    background: #DBE7FB;
    border-color: #DBE7FB;
    resize: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

    padding-top: 21px;
    padding-left: 24px;
    padding-right: 60px;
    display: block;
    overflow: hidden;

    &::placeholder {
      color: #818597;
    }

    &:focus-visible {
      outline: 2px solid #cadfff;
    }

  }
}
