.corgi-trainer__wrapper {
  display: flex;
  position: relative;
  padding-bottom: 375px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 1000px;
    transform: translate3d(450px, -41%, 0);
    background-image: url(@img/china.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: -1;

    @include retina {
      background-image: url(@img/china@2x.png);
    }
  }

  @include tablet {
    padding-bottom: 189px;

    &::after {
      display: none;
    }
  }

  @include mobile {
    padding-bottom: 184px;
  }
}

.corgi-trainer__animation-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    transform: translate3d(-20%, 25%, 0);
    width: 500px;
    height: 500px;
    background-image: url(@img/solid-circle.png);
    background-size: cover;
    background-repeat: no-repeat;

    @include retina {
      background-image: url(@img/solid-circle@2x.png);
    }
  }

  &::before {
    transform: translate3d(-3%, -29%, 0);
    height: 90%;
    width: 107%;
    background-image: url(@img/corgi-suitcase.png);

    @include retina {
      background-image: url(@img/corgi-suitcase@2x.png);
    }
  }

  @include tablet {
    &::after {
      transform: translate3d(-17%, 25%, 0);
    }

    &::before {
      transform: translate3d(5%, -30%, 0);
      height: 92%;
    }
  }
  @include mobile {
    &::after {
      transform: translate3d(-19%, 41%, 0);
    }

    &::before {
      height: 83%;
      transform: translate3d(-35%, 57%, 0);
    }
  }
}
