.corgi-trainer__wrapper {
  display: flex;
  position: relative;
  padding-bottom: 156px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 73%;
    height: 1053px;
    transform: translate3d(796px, -29%, 0);
    background-image: url(@img/china.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: -1;

    @include retina {
      background-image: url(@img/china@2x.png);
    }
  }

  @include tablet {
    padding-bottom: 155px;

    &::after {
      display: none;
    }
  }

  @include mobile {
    padding-bottom: 155px;
  }
}

.corgi-trainer__text-content {
  padding-bottom: 0;
  padding-top: 0;

  @include tablet {
    .left-animation__title {
      max-width: 285px;
    }
  }
}
