.footer {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(@img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: -1;

    @include retina {
      background-image: url(@img/footer-bg@2x.png);
    }
  }

  @include tablet {
    &::before {
      background-size: 1920px;
    }
  }

  @include mobile {
    &::before {
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      background-size: 1845px;
    }
  }
}

.footer__wrapper {
  max-width: 1263px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 464px;
  padding-bottom: 41px;
  gap: 70px;
  margin-top: -58px;

  @include tablet {
    min-height: 614px;
    justify-content: flex-start;
    padding-left: 22px;
    gap: 112px;
    padding-bottom: 200px;
  }

  @include mobile {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    gap: 121px;
    min-height: 854px;
  }
}

.footer__links-wrapper {
  display: flex;
  align-items: center;
  padding-right: 20px;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
    padding-top: 29px;
    gap: 51px;
  }

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 22px;
    gap: 50px;
  }
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 18px;

  @include tablet {
    gap: 21px;
  }

  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    row-gap: 13px;
    width: 100%;

    li {
      margin-left: 27px;
    }
  }
}

.footer__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 46px;
  transition-duration: 500ms;
  font-size: $medium-text;
  line-height: $medium-text-height;
  font-weight: $medium;
  text-decoration: none;
  color: $white;
  letter-spacing: $text-letter-spacing;

  &:hover,
  &:focus {
    background-color: $border-button;
  }

  &:active {
    background-color: $transparent;
    color: $active-white-link;
  }

  &--icon {
    min-width: 196px;
    min-height: 88px;
    margin-left: auto;
    color: $white;
    border: 4px solid $border-button;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate3d(50%, -50%, 0);
      background-position: center;
      border-radius: 100px;
      z-index: -1;
      transition-duration: 500ms;
      background-color: $transparent;
      width: 100%;
      height: 100%;
    }

    &:hover,
    &:focus {
      background-color: $transparent;
      color: $icon-blue;
      &::before {
        background-color: $white;
      }
    }

    &:active {
      background-color: $transparent;
      color: $icon-blue;
      &::before {
        width: 95%;
        height: 90%;
        background: $light-grey;
      }
    }
  }

  @include tablet {
    font-size: $small-text;
    &--icon {
      flex-grow: 1;
      margin-left: 35px;
      width: 100%;
    }
  }

  @include mobile {
    padding: 10px 0;

    &:hover,
    &:focus {
      background-color: $transparent;
    }

    &--icon {
      margin-left: 0;
    }
  }
}

.footer__social-links {
  display: contents;

  @include tablet {
    display: flex;
    width: 100%;
  }

  @include mobile {
    flex-direction: column;
    gap: 58px;
  }
}

.footer__mail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
  min-width: 250px;
  background-color: $transparent;
  border: none;
  cursor: pointer;

  .footer__mail-content--copied {
    display: none;
  }

  &--copied {
    .footer__mail-content--copied {
      display: flex;
    }

    .footer__mail-content--mail {
      display: none;
    }
  }

  &:hover,
  &:focus {
    .footer__mail-content {
      color: $white;
    }

    .footer__mail-button-icon {
      background-color: $white;
      color: $icon-blue;
    }
  }

  &:active {
    opacity: 20%;
  }

  @include tablet {
    margin-left: 14px;
  }

  @include mobile {
    margin-left: 24px;
    max-width: 250px;
  }
}

.footer__mail-content {
  font-size: $medium-text;
  line-height: $medium-text-height;
  font-weight: $bold;
  color: $empty-star;
  display: inline-flex;
  justify-content: center;
  transition-duration: 500ms;

  &--copied {
    color: $white;
  }
}

.footer__mail-button-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 72px;
  min-height: 60px;
  border-radius: 60px;
  border: 2px solid $border-button;
  transition-duration: 500ms;
  color: $white;
  margin-left: auto;
}

.footer__copyright-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 547px;
  padding: 0 16px;

  @include tablet {
    max-width: 574px;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  span {
    font-size: $small-text;
    line-height: $medium-text-height;
    font-weight: $medium;
    color: $empty-star;
  }
}

.footer__logo {
  img {
    height: 48px;
    object-fit: cover;
  }

  @include tablet {
    img {
      width: 135px;
      height: 60px;
    }
  }
}
