.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 38px;
  pointer-events: auto;
  z-index: 10;

  @include tablet {
    padding-top: 20px;
  }

  @include mobile {
    padding-top: 17px;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(5%);
  padding: 16px;
  animation: slideDown 0.5s ease-in-out forwards;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 49.99%,
    rgba(255, 255, 255, 0) 100%
  );

  background: linear-gradient(
    270deg,
    rgba(0, 87, 255, 0) 0%,
    rgba(0, 87, 255, 0.96) 18.75%,
    rgba(0, 87, 255, 0.96) 81.25%,
    rgba(0, 87, 255, 0) 100%
  );

  .header__authorization-button,
  .header__navigation-wrapper,
  .header__open-button-menu {
    display: none;
  }

  .header__install-link-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header__links > span {
    color: $white;
  }

  .install-link {
    background-color: $white;

    &:active {
      background-color: $active-white-link;
    }
  }

  .header__install-close-icon {
    background: transparent;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: 2px solid $border-button;
    background: url('@img/icons/icons.svg#close-icon');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    position: relative;
    transition: background-color 500ms;

    &:hover {
      background: url('@img/icons/icons.svg#close-icon-blue'), $white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
    }

    &:active {
      &::before {
        position: absolute;
        content: '';
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background-color: $active-dark-link;
        border-radius: 50%;
      }
    }
  }

  @include mobile {
    padding: 14px;

    .header__logo {
      display: none;
    }

    .header__install-link-wrapper {
      margin-left: auto;
    }

    .header__wrapper {
      padding-left: 46px;
      padding-right: 46px;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.header__install-link-wrapper {
  display: none;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    justify-content: flex-end;
  }
}

.header__logo {
  padding-top: 6px;

  img {
    width: 99px;
    height: 48px;
    object-fit: cover;
  }

  @include tablet {
    margin-right: auto;
  }
}

.header__navigation-wrapper {
  flex-basis: 46%;

  @include tablet {
    position: fixed;
    right: -100%;
    bottom: 0;
    background: linear-gradient(90deg, #0284fc 0%, #0158ff 100%);
    border-radius: 32px 32px 0 0;
    min-width: min(100dvw, 360px);
    height: calc(100dvh - 91px);
    padding: 8px 8px 0;
    transition: right 0.6s ease;
    z-index: 1000;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 32px 32px 0 0;
      padding: 1.5px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 50.18%,
        rgba(255, 255, 255, 0) 100%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: -2;
    }

    &--open {
      right: 0;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.header__navigation-container {
  @include tablet {
    height: 100%;
    overflow: scroll;
    border-radius: 32px 32px 0 0;
  }
}

.header__navigation-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 33px;
  padding-right: 2px;

  .install-link,
  .language-selection--header {
    display: none;
  }

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    gap: 32px;
    padding-top: 36px;

    .install-link {
      display: flex;
      margin-left: 24px;
    }

    .language-selection--header {
      display: flex;

      .language-selection__list {
        max-height: 100%;
      }
    }
  }

  @include mobile {
    width: 100%;
  }
}

.header__navigation-tablet-wrapper {
  @include tablet {
    height: 100%;
    overflow-y: scroll;
  }
}

.header__navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;

  @include tablet {
    flex-direction: column;
    padding-left: 24px;
  }
}

.header__navigation-link {
  text-decoration: none;
  color: $white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 46px;
  transition-duration: 500ms;

  &:hover,
  &:focus {
    background-color: $border-button;
  }

  &:active {
    background-color: $transparent;
    color: $active-white-link;
  }

  @include tablet {
    font-size: $mobile-title;
    line-height: $mobile-title-height;
    font-weight: $extra-bold;
  }
}

.header__title {
  display: none;

  @include tablet {
    display: inline;
  }
}
.header__open-button-menu {
  display: none;

  @include tablet {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 31px;
    background-color: transparent;
    color: $white;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin-left: 25px;

    &:active {
      svg {
        color: $light-grey;
      }
    }
  }

  @include mobile {
    margin-left: 6px;
  }
}
