.install-link {
  text-decoration: none;
  color: $grey;
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
  min-width: 226px;
  padding: 8px;
  font-size: $base-text-size;
  line-height: $text;
  border-radius: 60px;
  position: relative;
  transition: color 500ms;
  background-color: $white;

  &:active {
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $active-dark-link;
      border-radius: 60px;
    }
  }
}

.install-link__icon {
  width: 56px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $icon-blue;
  border-radius: 50%;
  object-fit: contain;
  color: $white;
}

.install-link__text {
  line-height: $medium-text-height;
  display: inline-flex;
  flex-direction: column;
  color: $grey;
}

.install-link__main-text {
  color: $dark-grey;
  font-weight: $extra-bold;
  letter-spacing: $text-letter-spacing;
}
