.language-learner {
  padding-bottom: 155px;
}

.language-learner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: -4;
    left: -78%;
    width: 86.5%;
    height: 1319px;
    transform: translate3d(0, -28%, 0);
    background-image: url(@img/japan.png);

    @include retina {
      background-image: url(@img/japan@2x.png);
    }
  }

  @include tablet {
    &::before {
      display: none;
    }
  }

  @include mobile {
    flex-direction: column;
    padding-left: 0;
    gap: 13px;
  }
}

.language-learner__text-content {
  max-width: 470px;
  top: 50%;
  left: 0;
  padding-top: 114px;

  @include tablet {
    padding: 0 0 6px;
    align-self: center;
  }

  @include mobile {
    order: 2;
    padding: 0 $mobile-padding 0;
  }
}

.language-learner__title {
  margin: 0;
  font-size: $mobile-main-title-size;
  line-height: $medium-title;
  padding-bottom: 27px;

  @include tablet {
    font-size: $medium-text-height;
    line-height: $text-height;
    padding-bottom: 24px;
  }
}

.language-learner__text {
  margin: 0;
  font-size: $medium-text-size;
  line-height: $text-height;
  color: $light-blue;
}

.language-learner__animation-wrapper {
  background-image: url(@img/icons/icons.svg#bg-1);
  background-repeat: no-repeat;
  flex-basis: 42%;
  padding: 78px;

  &.linear-gradient-bg {
    border-radius: 32px;

    &::before {
      border-radius: 32px;
    }
  }
  @include tablet {
    flex-basis: 53%;
    flex-shrink: 0;
  }

  @include mobile {
    width: 100%;
    padding: 27px;
  }
}
