.language-select__wrapper {
  position: relative;
}

.language-select__button {
  min-height: 56px;
  background-color: $transparent;
  border-radius: 30px;
  border: 2px solid $border-button;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 8px;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.language-select__selected-language {
  display: inline-flex;
  align-items: center;

  picture {
    display: inline-flex;
  }
}

.language-select__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  min-width: 28px;
  min-height: 28px;
  border-radius: 50%;
}

.language-select__icon {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
}

.language-select__icon {
  transition-duration: 300ms;
}

.language-select__button.open .language-select__icon {
  transform: scaleY(-1);
}

.language-selection-dialog {
  max-width: 1200px;
  min-width: 236px;
  width: max-content;
  padding: 31px 4px 27px 32px;
  border: none;
  border-radius: 32px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  margin: 0;
  top: calc(100% + 10px);
  left: 50%;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-50px)  translateX(-50%);
}

.language-selection-dialog.show {
  opacity: 1;
  transform: translateY(0)  translateX(-50%);
}
