.language-learner {
  padding-bottom: 180px;

  @include tablet {
    padding-bottom: 190px;
  }
}

.language-learner__wrapper {
  max-width: 1309px;
  display: flex;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: -1;
  }

  &::before {
    left: -68%;
    width: 83.5%;
    height: 1240px;
    transform: translate3d(0, -40%, 0);
    background-image: url(@img/japan.png);

    @include retina {
      background-image: url(@img/japan@2x.png);
    }
  }

  &::after {
    right: -342px;
    width: 61%;
    height: 730px;
    transform: translate3d(0, -44%, 0);
    background-image: url(@img/dot-circle.png);

    @include retina {
      background-image: url(@img/dot-circle@2x.png);
    }
  }

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    &::after {
      right: 0;
      width: 200%;
      height: 700px;
      transform: translate3d(44%, -44%, 0);
    }
  }
}

.language-learner__text-content {
  position: absolute;
  max-width: 429px;
  top: 50%;
  left: 0;
  transform: translate3d(12%, -35%, 10px);

  @include tablet {
    max-width: 505px;
    position: static;
    order: 2;
    padding-top: 208px;
    align-self: center;
    transform: none;
  }

  @include mobile {
    padding-top: 332px;
  }
}

.language-learner__title {
  margin: 0;
  font-size: $title;
  line-height: $title;
  padding-bottom: 27px;

  @include mobile {
    font-size: $mobile-title;
    line-height: $mobile-title-height;
  }
}

.language-learner__text {
  margin: 0;
  font-size: $text;
  line-height: $text-height;
  color: $white;
}

.language-learner__animation-wrapper {
  position: relative;
  flex-basis: 100%;
  flex-shrink: 0;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate3d(-35%, -25%, 0);
    width: 72%;
    height: 100%;
    background-image: url(@img/corgi-keyboard.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: 1;

    @include retina {
      background-image: url(@img/corgi-keyboard@2x.png);
    }
  }

  @include tablet {
    position: static;
    transform: translate3d(-38%, 0, 0);
    width: 170%;

    &::before {
      width: 100%;
      min-height: 700px;
      transform: translate3d(-41%, -17%, 0);
    }
  }

  @include mobile {
    transform: translate3d(-40%, 0, 0);
    width: 180%;

    &::before {
      width: 113%;
      transform: translate3d(-34%, 4%, 0);
    }
  }
}
