.learning-efficiency__wrapper {
  padding-bottom: 206px;

  @include tablet {
    padding-bottom: 158px;
  }
}

.learning-efficiency__title {
  margin: 0;
  text-align: end;
  padding-bottom: 25px;

  @include tablet {
    margin-right: $tablet-padding;
  }

  @include mobile {
    margin-right: $mobile-padding;
  }
}

.learning-efficiency__title,
.learning-efficiency__text,
.learning-efficiency__small-text {
  margin: 0;
  color: $light-blue;
  text-align: end;
  margin-left: auto;
}

.learning-efficiency__title,
.learning-efficiency__text {
  max-width: 456px;

  @include tablet {
    margin-right: $tablet-padding;
  }

  @include mobile {
    margin-right: $mobile-padding;
  }
}

.learning-efficiency__small-text {
  font-size: $small-text;
  line-height: $medium-text-height;
  max-width: 280px;
  margin-top: -164px;
  margin-right: 91px;
  color: $opacity-blue;

  @include tablet {
    margin: -230px 40px 0 auto;
  }

  @include mobile {
    margin: 33px 0 0 16px;
  }
}

.learning-efficiency__animation-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 88px;

  @include tablet {
    padding-top: 70px;
  }

  @include mobile {
    flex-direction: column;
    gap: 64px;
  }
}

.learning-efficiency__animation {
  flex-basis: 59%;
  padding-top: 77px;
  padding-right: 89px;
  align-self: flex-start;

  &.linear-gradient-bg {
    border-radius: 48px;

    &::before {
      border-radius: 48px;
    }
  }

  @include tablet {
    flex-basis: 48%;
    padding-top: 40px;
    padding-right: 39px;
  }

  @include mobile {
    padding-top: 28px;
  }
}

.learning-efficiency__image {
  background-image: url(@img/corgi-suitcase.png);
  background-repeat: no-repeat;
  min-height: 617px;
  flex-grow: 1;
  background-size: 100%;
  background-position: center right 31%;
  margin-top: -92px;

  @include retina {
    background-image: url(@img/corgi-suitcase@2x.png);
  }

  @include tablet {
    margin-top: -21px;
  }

  @include mobile {
    min-height: 740px;
    background-position: center;
    background-size: cover;
  }
}
