.left-animation__wrapper {
  display: flex;
  padding-bottom: 166px;

  @include tablet {
    padding-bottom: 0;
    gap: 44px;
  }

  @include mobile {
    padding-bottom: 214px;
    flex-direction: column;
    padding-left: 0;
    gap: 17px;
  }
}

.left-animation__animation-wrapper {
  flex-basis: 42%;
  position: relative;
  background-image: url(@img/icons/icons.svg#bg-1);
  background-repeat: no-repeat;
  padding: 77px;

  @include tablet {
    flex-basis: 53%;
    flex-shrink: 0;
    padding: 36px;
  }

  @include mobile {
    width: 100%;
    padding: 29px;
  }
}

.left-animation__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  padding-top: 11px;
  padding-left: 20px;

  @include tablet {
    align-self: center;
    align-items: center;
    padding: 0 0 21px;
    justify-content: flex-start;
  }

  @include mobile {
    padding: 0 $mobile-padding 0;
    align-items: flex-start;
  }
}

.left-animation__title {
  margin: 0;
  max-width: 460px;
  font-size: $mobile-main-title-size;
  line-height: $medium-title;
  font-weight: $extra-bold;
  color: $white;
  padding-bottom: 25px;

  @include tablet {
    font-size: $medium-text-height;
    line-height: $text-height;
  }

  @include mobile {
    font-size: $medium-text-height;
    line-height: $text-height;
    max-width: 270px;
  }
}

.left-animation__text {
  margin: 0;
  color: $light-blue;
  max-width: 460px;
  font-size: $medium-text-size;
  line-height: $text-height;
  padding-bottom: 6px;
}
