.left-animation__wrapper {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 179px;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    padding-bottom: 214px;
  }
}

.left-animation__animation-wrapper {
  flex-basis: 42%;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate3d(5%, -21%, 0);
    width: 104%;
    height: 108%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 1;
  }

  @include tablet {
    transform: translate3d(-50%, 0, 0);
    width: 107%;

    &::before {
      transform: translate3d(7%, -19%, 0);
      height: 113%;
    }
  }

  @include mobile {
    width: 153%;
    transform: translate3d(-35%, 0, 0);

    &::before {
      bottom: 0;
      transform: translate3d(-37%, 54%, 0);
      width: 104%;
      height: 108%;
    }
  }
}

.left-animation__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;

  @include tablet {
    align-items: center;
    padding: 192px 40px 0 0;
  }

  @include mobile {
    padding: 92% $mobile-padding 0 ;
    align-items: flex-start;
  }
}

.left-animation__title {
  margin: 0;
  max-width: 460px;
  font-size: $title;
  line-height: $title;
  font-weight: $extra-bold;
  color: $white;
  padding-bottom: 25px;

  @include mobile {
    font-size: $mobile-title;
    line-height: $mobile-title-height;
  }
}

.left-animation__text {
  margin: 0;
  color: $white;
  max-width: 460px;
  font-size: $text;
  line-height: $text-height;
  padding-bottom: 6px;
}
