.promo__wrapper {
  display: flex;
  flex-direction: column;
  color: $white;
  padding-bottom: 0;
  padding-top: 132px;

  @include tablet {
    padding-top: 156px;
    padding-bottom: 47px;
  }

  @include mobile {
    padding-top: 109px;
    padding-bottom: 152px;
  }
}

.promo__main-content {
  display: flex;
  justify-content: space-between;
  gap: 51px;
  padding: 81px 80px 71px 0;
  border-radius: 48px;
  min-height: 503px;

  &.linear-gradient-bg {
    &::before {
      border-radius: 0 48px 48px 0;
      border: 2px solid;
      border: double 2px transparent;
    }

    @include mobile {
      background: none;

      &::before {
        background: none;
      }
    }
  }

  @include tablet {
    padding: 37px 38px 71px 0;
  }

  @include mobile {
    flex-direction: column;
    gap: 79px;
    padding-right: 0;
    padding-bottom: 27px;
  }
}


.promo__title {
  margin: 0;
  padding-bottom: 22px;

  @include tablet {
    padding-top: 10px;
    max-width: 450px;
  }
}

.promo__text-content {
  align-self: center;
  max-width: 600px;

  @include tablet {
    align-self: flex-start;
    max-width: 100%;
  }

  @include mobile {
    padding-right: $mobile-padding;
  }
}

.promo__text {
  margin: 0;
  padding-bottom: 37px;
  align-self: center;

  @include tablet {
    max-width: 296px;
    padding-bottom: 42px;
  }
}

.promo__animation-wrapper {
  flex-basis: 30%;
  flex-shrink: 0;

  &.linear-gradient-bg {
    background: none;

    &::before {
      background: none;
    }

    @include mobile {
      background: linear-gradient(228.57deg, #0185FF 0%, rgba(1, 133, 255, 0) 43.98%, rgba(1, 133, 255, 0) 64.93%);


      &::before {
        background: linear-gradient(284.22deg, rgba(255, 255, 255, 0.28) 13.74%, rgba(255, 255, 255, 0) 57.14%);
        border: 2px solid;
        border: double 2px transparent;
        background-repeat: no-repeat;
      }
    }
  }

  @include tablet {
    max-width: 78vw;
    flex-basis: 45%;
  }

  @include mobile {
    max-width: 100%;
    min-height: 404px;
    padding: 34px 30px 0 0;
  }
}

.promo__countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  list-style: none;
  margin: 0;
  padding: 42px 0 0;

  @include tablet {
    padding-top: 41px;
    gap: 26px;

    img {
      width: 60px;
    }
  }

  @include mobile {
    padding-top: 55px;
    gap: 18px;
    row-gap: 11px;
  }
}

.promo__countries-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    &--tablet {
      display: none;
    }
  }
}

.promo__countries-text {
  font-size: $medium-text;
  line-height: $medium-text-height;
  font-weight: $extra-bold;

  + .promo__countries-text {
    margin-left: 3px;
  }

  &--background {
    position: relative;
    font-size: $text;
    padding: 15px 24px;
    min-height: 54px;
    background-color: $border-button;
    border-radius: 100px;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      content: '+7';
      vertical-align: bottom;
    }
  }

  &--light {
    opacity: 60%;
    font-weight: $medium;
  }

  @include tablet {
    &--background {
      min-width: 60px;
      min-height: 60px;
      border-radius: 50%;
      padding: 0;

      &::before {
        content: '+10';
      }
    }

    &--not-background {
      display: none;
    }
  }
}
