.review__wrapper {
  position: relative;
  padding-bottom: 115px;

  &::before,
  &::after {
    content: '';
    position: absolute;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: -1;
  }

  &::before {
    top: 0;
    left: 0;
    width: 46%;
    height: 700px;
    transform: translate3d(-109%, -25%, 0);
    background-image: url(@img/hindi.png);

    @include retina {
      background-image: url(@img/hindi@2x.png);
    }
  }

  @include tablet {
    padding-bottom: 74px;
  }

  @include mobile {
    padding: 0 0 0 32px;
  }
}
.review__title {
  margin: 0;
  padding-bottom: 18px;
}

.review__score-wrapper {
  color: $white;
  font-weight: $extra-bold;
  display: inline-flex;
  align-items: center;
  margin: 0;
  gap: 16px;

  span {
    font-size: $small-text;
    font-weight: inherit;
  }
}

.review__score {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 29.7%,
    #ffffff 85.91%
  );
  z-index: -1;
  width: 54px;
  height: 54px;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: '';
    top: 3px;
    right: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid $blue;
    background-color: #ffffff;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(@img/icons/icons.svg#star-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  span {
    display: flex;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: $blue;
    font-weight: inherit;
    font-size: $small-text;
  }
}

span.review__text-light {
  color: $light-blue;
  font-weight: $medium;
  font-size: $small-text;
  padding-right: 3px;
}

.review__list {
  list-style: none;
  margin: 0;
  padding: 40px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
  gap: 40px;
  color: $white;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    row-gap: 56px;
  }

  @include mobile {
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.review__item {
  min-height: 200px;
  padding: 40px 40px 20px 0;
  border-radius: 0 32px 32px 0;

  &::before {
    border-radius: 0 32px 32px 0;
  }

  @include mobile {
    width: 71vw;
    flex-shrink: 0;
  }
}

.review__name {
  font-size: $medium-text-height;
  line-height: $base-text-height;
  font-weight: $extra-bold;
  margin: 0;
  padding-bottom: 13px;
}

.review__text {
  font-weight: $medium;
  margin: 0;
  font-size: $small-text;
  padding-top: 11px;
}

.review__rate {
  margin: 0;
  display: flex;
  gap: 6px;
}

.review__fill-star {
  color: $yellow;
  stroke: $star-blue;
}

.review__empty-star {
  color: $white;
  opacity: 40%;
}
