.user-feedback {
  overflow: hidden;
}

.user-feedback__wrapper {
  position: relative;
  padding-bottom: 190px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -50%;
    width: 57%;
    height: 808px;
    background-image: url(@img/background-ball1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    @include retina {
      background-image: url(@img/background-ball1@2x.png);
    }
  }

  @include tablet {
    padding-bottom: 198px;

    &::before {
      display: none;
    }
  }
}

.user-feedback__title {
  max-width: 700px;
  margin: 0;
}

.user-feedback__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    row-gap: 34px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding-top: 47px;
    row-gap: 41px;
  }
}

.user-feedback__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;

  @include tablet {
    &:nth-of-type(2n) {
      grid-row: span 2;
      justify-content: center;
    }
  }
}

.user-feedback__image {
  height: 100%;

  img {
    width: 100%;
  }

  @include tablet {
    height: auto;
  }
}

.user-feedback__text {
  color: $light-blue;
  font-size: $text;
  line-height: $text-height;
  font-weight: $medium;
  padding-top: 36px;

  p {
    margin: 0;
  }
}

.user-feedback__big-text {
  color: $white;
  font-size: $title;
  line-height: $title;
  font-weight: $extra-bold;
  margin: 0;
  padding-top: 14px;
}

.user-feedback__rate-wrapper {
  display: flex;
  align-items: end;
  gap: 16px;
  padding-top: 4px;
}

.user-feedback__rate {
  background-color: $border-button;
  border-radius: 100px;
  padding: 16px 20px 13px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
}
