html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: $family-muller;
  font-size: $medium-text;
  line-height: $medium-text-height;
  font-weight: $medium;
}

body {
  margin: 0;
  background-color: $blue;
  background-image: url('@img/bg-up.svg'), url('@img/bg-down.svg');
  background-size: 1920px auto, 1989px auto;
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

.error-page {
  background-image: url('@img/bg-up.svg');
}

img {
  max-width: 100%;
  height: auto;
}

.main-title {
  font-size: $main-title-size;
  line-height: $main-title-size;
  font-weight: $extra-bold;
  color: $white;

  @include tablet {
    font-size: $mobile-title;
    line-height: $mobile-title-height;
  }
}

.title {
  font-size: $mobile-main-title-size;
  line-height: $medium-title;
  font-weight: $extra-bold;
  color: $white;

  @include tablet {
    font-size: $medium-text-height;
    line-height: $base-text-height;
  }
}

.text {
  font-size: $base-text-size;
  line-height: $base-text-height;
  font-weight: $medium;
  color: $light-blue;
}

.linear-gradient-bg {
  border-radius: 0 48px 48px 0;
  background-image: linear-gradient(
    224.39deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 39.36%
  );
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: double 3px transparent;
    border-radius: 0 48px 48px 0;
    background: linear-gradient(
      226.98deg,
      #0185ff 0%,
      rgba(1, 133, 255, 0) 50.22%,
      rgba(1, 133, 255, 0) 74.14%
    );

    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: -2;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
}

.overlay--open {
  display: block;
}

.scroll-lock {
  overflow: hidden;
}
