html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
	position:relative;
	overflow-x:hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: $family-muller;
  font-size: $medium-text;
  line-height: $medium-text-height;
  font-weight: $medium;
}

body {
  margin: 0;
  height: 100%;
  background-color: $blue;

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 50%;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    transform: translate3d(50%, 0, 0);
    background-size: 1920px;
    background-repeat: no-repeat;
    z-index: -5;
  }

  &::before {
    background-image: url('@img/icons/icons.svg#bg-up');
    background-position: top;
    top: 0;
  }

  &::after {
    background-image: url('@img/icons/icons.svg#bg-down');
    background-position: bottom;
    background-size: 100%;
    bottom: 0;
  }

  @include desktop {
    &::before,
    &::after {
      background-size: 122%;
    }
  }

  @include tablet {
    &::before {
      background-size: 2231px;
    }
    &::after {
      background-size: 1982px;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.main-title {
  font-size: $main-title-size;
  line-height: $main-title-size;
  font-weight: $extra-bold;
  color: $white;

  @include mobile {
    font-size: $mobile-main-title-size;
    line-height: $mobile-main-title-size;
  }
}

.linear-gradient-bg {
  border-radius: 0 32px 32px 0;
  background-image: linear-gradient(
    224.39deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 39.36%
  );
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: double 3px transparent;
    border-radius: 0 32px 32px 0;
    background: linear-gradient(
      226.98deg,
      #0185ff 0%,
      rgba(1, 133, 255, 0) 50.22%,
      rgba(1, 133, 255, 0) 74.14%
    );

    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: -2;
  }
}
