//Color
$white: #ffffff;
$black: #000000;
$transparent: transparent;
$blue: #0167ff;
$icon-blue: #0158ff;
$yellow: #ffba54;
$star-blue: #0159ff;
$light-blue: #dbe7fb;
$green: #78b932;
$border-green: #96d455;
$light-green: #e6f4d8;
$grey: #5d6074;
$light-grey: #a6a6a6;
$dark-grey: #242732;
$border-button: rgba(255, 255, 255, 0.2);
$empty-star: rgba(255, 255, 255, 0.4);
$active-white-link: rgba(255, 255, 255, 0.6);

// Viewports
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 360px;

//Font
$family-muller: 'Muller', 'Arial', sans-serif;
$main-title-size: 56px;
$mobile-main-title-size: 40px;
$title: 48px;
$mobile-title: 32px;
$mobile-title-height: 36px;
$text: 20px;
$text-height: 28px;
$medium-text: 16px;
$medium-text-height: 24px;
$small-text: 14px;
$extra-bold: 800;
$bold: 700;
$medium: 500;
$text-letter-spacing: 0.2px;

//Padding
$mobile-padding: 32px;
$tablet-padding: 40px;
$desktop-padding: 15px;
